{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}

                <img src="{{ asset('img/commentCaMarche.jpg') }}" width="100%" class="img-fluid"/>

                    <h2></br>Coiffeuses et Coiffeurs en entreprise (CDI, CDD, Freelances...)</h2></br>
                    
                        <p><strong>Biz & Cut</strong> est le leader de la <strong>coiffure H/F</strong> et de l'<strong>entretien de la </strong><strong>barbe </strong>en entreprise.</p>
                    <p>Spécialistes de la coiffure sur le lieu de travail, nos prestations sont <strong>rapides, classes et</strong> <strong>efficaces&nbsp;!</strong></p>

                    <p>Rejoigniez-nous et nous vous proposerons :</p>

                    <ul><li>Une rémunération garantie - (fixe + variable)</li>
                        <li>Un emploi du temps flexible et optimisé - (agenda en temps réel, mutualisation des clients …)</li>
                        <li>Des formations techniques et commerciales dédiées  - (accompagnement de coiffeurs formateurs sur les prestations Biz&Cut...)</li></br>
                    </ul>

                <img src="{{ asset('img/commentCaMarcheCoiffeur.jpg') }}" width="100%" class="img-fluid"/>
                </br>


        </div>
    </div>
{% endblock %} 