{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}
            <p>
                <h3>Page d'accueil temporaire - Administrateurs Biz And Cut</h3>
            </p>
			<p>
				<a href="{{ url('bizandcut.users.index') }}" class="btn btn-dark col-md-3">Gestion des utilisateurs</a>
				<a href="{{ url('bizandcut.propositions.index') }}" class="btn btn-dark col-md-3">Voir les propositions</a>
                <a href="" class="btn btn-dark col-md-3">Boite de reception</a>
						
			</p>
        </div>
    </div>
{% endblock %} 