{{ form_start (form)}}
<div class="row">
    <div class="col-md-8">
        {{form_row(form.q) }}
    </div>
    <div class="col-md-4s">
       <button type="submit" class="btn btn-dark">Rechercher</button>
    </div>
</div>
{{ form_end (form)}}