{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}
            <p>
                <h3>Page d'accueil Public</h3>
            </p>
        </div>
    </div>
{% endblock %} 