{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}
            <p>
                <h3>Hello World !!</h3>
            </p>
            <h1>Administration</h1>
			<p>
				<a href="{{ url('insc_coif.index') }}">Inscription Coiffeur</a>
			</p>
        </div>
    </div>
{% endblock %}