{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}
            <p>
                <h3>Page d'accueil temporaire sans le module de connexion</h3>
            </p>
			<p>
				<a href="{{ url('entreprise.homepage.index') }}" class="btn btn-dark col-md-2">Espace Entreprise</a>
                
				<a href="{{ url('coiffeurs.homepage.index') }}" class="btn btn-dark col-md-2 ">Espace Coiffeurs</a>
				
                <a href="{{ url('salarie.homepage.index') }}" class="btn btn-dark col-md-2">Espace Salariés</a>
                
                <a href="{{ url('bizandcut.homepage.index') }}" class="btn btn-dark col-md-2">Espace Biz And Cut</a>	
			</p>
        </div>
    </div>
{% endblock %}