{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}

            <img src="{{ asset('img/prestations.jpg') }}" width="100%" class="img-fluid"/>
            </br></br>

            <p>Pour 97% des hommes, et pour 32 % des femmes, aller chez le coiffeur est une véritable contrainte.</p>

            <p>Vous n’arrivez pas à entretenir vos cheveux, et vous n'avez pas de temps pour prendre un <strong>rendez-vous?</strong></p>

            <p><strong>Biz&Cut</strong> est la solution qu’il vous faut !</p>

            <p><strong>Rapides, flexibles </strong>et <strong>efficaces </strong>nos prestations s’adaptent à votre agenda, et non l’inverse.</p>

            <p>Nos coiffeurs/barbiers <strong>professionnels </strong>se déplacent sur votre lieu de travail pour vous proposer, des prestations de <strong>coupe</strong>, de <strong>coiffure </strong>et d'<strong>entretien de la barbe </strong>qui vont vous simplifier la vie.</p>

            <p>Nous vous garantissons <strong>ponctualité, efficacité </strong>et <strong>qualité </strong>!</p>
        </div>
    </div>
{% endblock %} 