{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}
            <p>
                <h3>Page d'accueil temporaire - Salariés</h3>
            </p>
			<p>
				<a href="" class="btn btn-info col-md-4">Espace Entreprise</a>
				<a href="" class="btn btn-info col-md-4">Espace Coiffeurs</a>
				<a href="" class="btn btn-info col-md-4">Espace Salariés</a>
                <a href="" class="btn btn-info col-md-4">Espace Biz And Cut</a>
						
			</p>
        </div>
    </div>
{% endblock %}