{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">
        {% include "_inc/flash.messages.html.twig" %}
            <p>
                <h3>Page d'accueil temporaire - Coiffeurs</h3>
            </p>
			<p>
				<a href="{{ url('coiffeur.devis.index') }}" class="btn btn-dark col-md-4">Tableau de bord</a>
			</p>
        </div>
    </div>
{% endblock %}