<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Biz And Cut{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <style>
        </style>
        {% block script %}{% endblock %}
    </head>
    <nav>
        {% include '_inc/nav.html.twig' %}
    </nav>
    {% block bodyHome %}{% endblock %}
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
       
    </body> 
    <footer>
        {# {% include '_inc/foot.html.twig' %} #}
    </footer>
</html>