<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Biz And Cut{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <style>
        </style>
    </head>
    <nav>
        {% include '_inc/nav.html.twig' %}
    </nav>
    {% block bodyHome %}{% endblock %}
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
       
    </body> 
    <footer>
        {# {% include '_inc/foot.html.twig' %} #}
    </footer>
</html>
Bonjour,
Il s'agit de ma premiere declaration d'impot.
Le montant que j'ai rempli pour le champ "Revenus des salries des particuliers employeurs" correspond au montant de mon salaire net (avant impot sur le revenu)