{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accès refusé</h1>

    <p>Cette page vous est interdite d'accès
    </p>
{% endblock %}